.web-title {
  display: flex;
  font-family: anton;
  font-size: 45px;
  text-align: center;
  padding: 30px;
}

.clock {
  font-family: anton;
  display: flex;
  border: 5px solid teal;
  border-radius: 10px;
  height: 140px;
  width: 550px;
  margin: 20px;
  background-color: lemonchiffon;
  justify-content: space-around;
  font-size: 45px;
  flex-direction: column;
}

.clock-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  color: orangered;
}

.date-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  color: lightseagreen;
}
