.web-title {
  font-family: anton;
  font-size: 45px;
  text-align: center;
  padding: 30px;
}

.clock {
  font-family: anton;
  display: block;
  border: 5px solid teal;
  border-radius: 10px;
  height: 150px;
  width: 550px;
  margin: 20px;
  background-color: lemonchiffon;
  font-size: 45px;
}

.clock-title {
  color: orangered;
}

.date-title {
  color: orangered;
 

}

.actual-time {
  color: lightseagreen;
  
}

.actual-date {
   color: lightseagreen;
}

.clock-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.date-container {
  display: flex;
  justify-content: space-between;
  margin: 5px;

}
